h1 {
  color: #000fff;
  text-align: center;
}

h2 {
    font-style: italic;
    text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

em {
  font-weight: bold;
}
li {
  font-kerning: auto;
}
